<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculationParameters</key>
	<dict>
		<key>Nx</key>
		<integer>10</integer>
		<key>Ny</key>
		<integer>10</integer>
		<key>Nz</key>
		<integer>10</integer>
		<key>acceptanceCosineElementsBins</key>
		<true/>
		<key>coherent</key>
		<false/>
		<key>debugLevel</key>
		<string>Normal</string>
		<key>detectionFormalism</key>
		<string>Intensity</string>
		<key>dumpAllPhotonStats</key>
		<false/>
		<key>fluence</key>
		<dict>
			<key>bins</key>
			<string>(10, 10, 10)</string>
			<key>volume</key>
			<dict>
				<key>bottomRight</key>
				<string>(0.75, 0.025, 0.75)</string>
				<key>topLeft</key>
				<string>(-0.75, -0.025, -0.75)</string>
			</dict>
		</dict>
		<key>keepAllPhotonStats</key>
		<true/>
		<key>minimumPhotonCount</key>
		<integer>1000000</integer>
		<key>minimumSurfaceElements</key>
		<integer>50</integer>
		<key>numberOfPhotons</key>
		<integer>100000</integer>
		<key>outputFilename</key>
		<string>out.xml</string>
		<key>outputFilenameBinaryGeometry</key>
		<string>/tmp/geometry.bin</string>
		<key>outputFilenameBinaryGeometryWithIntensity</key>
		<string>/tmp/geometryIntensity.bin</string>
		<key>outputFilenameBinaryPhotonPaths</key>
		<string>/tmp/paths.bin</string>
		<key>outputInformations</key>
		<dict>
			<key>absorbance</key>
			<true/>
			<key>polarization</key>
			<false/>
			<key>scatteringStats</key>
			<false/>
			<key>transmitance</key>
			<true/>
		</dict>
		<key>randomSampling</key>
		<string>HG</string>
		<key>statistics</key>
		<dict>
			<key>kEnergyDistributionBinUnits</key>
			<true/>
			<key>kEnergyDistributionRawBinary</key>
			<false/>
			<key>kEnergyDistributionXYZUnits</key>
			<false/>
			<key>kFluenceDistributionBinUnits</key>
			<true/>
			<key>kFluenceDistributionRawBinary</key>
			<true/>
			<key>kFuenceDistributionXYZUnits</key>
			<true/>
			<key>kGeometryMathematicaFormat</key>
			<true/>
			<key>kGeometryMatlabFormat</key>
			<true/>
			<key>kGeometrySeparateWavefrontFormat</key>
			<true/>
			<key>kGeometryWorldWavefrontFormat</key>
			<true/>
			<key>kGeometryXMLFormat</key>
			<true/>
			<key>kObjectInterfaceAverageNumberOfScatteringEvents</key>
			<true/>
			<key>kObjectInterfaceAveragePathLength</key>
			<true/>
			<key>kObjectInterfaceAveragePolarizedPathLength</key>
			<true/>
			<key>kObjectInterfaceConstructionParameters</key>
			<true/>
			<key>kObjectInterfaceStokesVectorBetaCircular</key>
			<true/>
			<key>kObjectInterfaceStokesVectorBetaLinear</key>
			<true/>
			<key>kObjectInterfaceStokesVectorI</key>
			<true/>
			<key>kObjectInterfaceStokesVectorQ</key>
			<true/>
			<key>kObjectInterfaceStokesVectorU</key>
			<true/>
			<key>kObjectInterfaceStokesVectorV</key>
			<false/>
			<key>kObjectInterfaceTimeResolvedIntensity</key>
			<true/>
			<key>kObjectInterfaceTotalTransmittance</key>
			<true/>
			<key>kObjectPhotonScatteringStats</key>
			<true/>
			<key>kObjectTotalAbsorbance</key>
			<true/>
			<key>kScattererStatistics1D</key>
			<true/>
			<key>kScattererStatistics2D</key>
			<true/>
		</dict>
		<key>subdivisionProximity</key>
		<integer>1</integer>
		<key>xMax</key>
		<integer>10</integer>
		<key>xMin</key>
		<integer>-10</integer>
		<key>yMax</key>
		<integer>10</integer>
		<key>yMin</key>
		<integer>-10</integer>
		<key>zMax</key>
		<integer>10</integer>
		<key>zMin</key>
		<integer>-10</integer>
	</dict>
	<key>lightSources</key>
	<array>
		<dict>
			<key>beamDiameter</key>
			<integer>0</integer>
			<key>direction</key>
			<string>(0,0,1)</string>
			<key>formalism</key>
			<string>Intensity</string>
			<key>insideObjectNamed</key>
			<string>world</string>
			<key>name</key>
			<string>lightSource2</string>
			<key>numberOfPhotons</key>
			<integer>100000</integer>
			<key>polarization</key>
			<dict>
				<key>I</key>
				<integer>1</integer>
				<key>Q</key>
				<integer>0</integer>
				<key>U</key>
				<integer>0</integer>
				<key>V</key>
				<integer>0</integer>
				<key>eParallel</key>
				<string>(1, 0, 0)</string>
			</dict>
			<key>position</key>
			<string>(0,0,-5)</string>
			<key>type</key>
			<string>laser</string>
			<key>wavefrontCurvature</key>
			<integer>0</integer>
			<key>wavelength</key>
			<real>6.3e-05</real>
		</dict>
	</array>
	<key>objects</key>
	<array>
		<dict>
			<key>Nx</key>
			<integer>10</integer>
			<key>Ny</key>
			<integer>10</integer>
			<key>thickness</key>
			<integer>1</integer>
			<key>enabled</key>
			<true/>
			<key>height</key>
			<integer>1</integer>
			<key>name</key>
			<string>item1</string>
			<key>position</key>
			<string>(0, 0, 0)</string>
			<key>properties</key>
			<dict>
				<key>optical</key>
				<dict>
					<key>index</key>
					<real>1.5</real>
					<key>opticalActivity</key>
					<integer>0</integer>
				</dict>
				<key>scattering</key>
				<dict>
					<key>g</key>
					<real>0.9</real>
					<key>mu_a</key>
					<integer>1</integer>
					<key>mu_s</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>resolution</key>
			<integer>0</integer>
			<key>statistics</key>
			<dict>
				<key>acceptanceCosineElements</key>
				<integer>1</integer>
				<key>kAcceptsBallisticPhotons</key>
				<true/>
				<key>kEntering</key>
				<false/>
				<key>kIntensity</key>
				<true/>
				<key>kLeaving</key>
				<true/>
				<key>kStokesVector</key>
				<false/>
				<key>kTimeResolved</key>
				<false/>
			</dict>
			<key>type</key>
			<string>box</string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Nx</key>
			<integer>10</integer>
			<key>Ny</key>
			<integer>10</integer>
			<key>Nz</key>
			<integer>10</integer>
			<key>depth</key>
			<integer>1</integer>
			<key>enabled</key>
			<false/>
			<key>height</key>
			<integer>1</integer>
			<key>name</key>
			<string>box1</string>
			<key>position</key>
			<string>(0, 0, 0)</string>
			<key>properties</key>
			<dict>
				<key>optical</key>
				<dict>
					<key>index</key>
					<real>1.5</real>
					<key>opticalActivity</key>
					<integer>0</integer>
				</dict>
				<key>scattering</key>
				<dict>
					<key>g</key>
					<real>0.9</real>
					<key>mu_a</key>
					<integer>1</integer>
					<key>mu_s</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>resolution</key>
			<integer>0</integer>
			<key>statistics</key>
			<dict>
				<key>acceptanceCosineElements</key>
				<integer>1</integer>
				<key>kAcceptsBallisticPhotons</key>
				<true/>
				<key>kEntering</key>
				<false/>
				<key>kIntensity</key>
				<true/>
				<key>kLeaving</key>
				<true/>
				<key>kStokesVector</key>
				<false/>
				<key>kTimeResolved</key>
				<false/>
			</dict>
			<key>type</key>
			<string>box</string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Nx</key>
			<integer>1</integer>
			<key>Ny</key>
			<integer>1</integer>
			<key>depth</key>
			<integer>1</integer>
			<key>enabled</key>
			<false/>
			<key>height</key>
			<integer>1</integer>
			<key>name</key>
			<string>Ellipsoid</string>
			<key>position</key>
			<string>(0, 2, 0)</string>
			<key>properties</key>
			<dict>
				<key>optical</key>
				<dict>
					<key>index</key>
					<real>1.5</real>
					<key>opticalActivity</key>
					<integer>0</integer>
				</dict>
				<key>scattering</key>
				<dict>
					<key>g</key>
					<real>0.9</real>
					<key>mu_a</key>
					<integer>10</integer>
					<key>mu_s</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>resolution</key>
			<integer>0</integer>
			<key>statistics</key>
			<dict>
				<key>acceptanceCosineElements</key>
				<integer>1</integer>
				<key>kAcceptsBallisticPhotons</key>
				<true/>
				<key>kEntering</key>
				<false/>
				<key>kIntensity</key>
				<true/>
				<key>kLeaving</key>
				<true/>
				<key>kStokesVector</key>
				<false/>
				<key>kTimeResolved</key>
				<false/>
			</dict>
			<key>type</key>
			<string>ellipsoid</string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Nh</key>
			<integer>10</integer>
			<key>Nr</key>
			<integer>50</integer>
			<key>enabled</key>
			<false/>
			<key>height</key>
			<integer>1</integer>
			<key>name</key>
			<string>Cylinder</string>
			<key>position</key>
			<string>(2, 0, 0)</string>
			<key>properties</key>
			<dict>
				<key>optical</key>
				<dict>
					<key>index</key>
					<real>1.5</real>
					<key>opticalActivity</key>
					<integer>0</integer>
				</dict>
				<key>scattering</key>
				<dict>
					<key>g</key>
					<real>0.9</real>
					<key>mu_a</key>
					<integer>5</integer>
					<key>mu_s</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>radius</key>
			<integer>1</integer>
			<key>resolution</key>
			<integer>0</integer>
			<key>statistics</key>
			<dict>
				<key>acceptanceCosineElements</key>
				<integer>1</integer>
				<key>kAcceptsBallisticPhotons</key>
				<true/>
				<key>kEntering</key>
				<false/>
				<key>kIntensity</key>
				<true/>
				<key>kLeaving</key>
				<true/>
				<key>kStokesVector</key>
				<false/>
				<key>kTimeResolved</key>
				<false/>
			</dict>
			<key>type</key>
			<string>cylinder</string>
		</dict>
		<dict>
			<key>Nx</key>
			<integer>20</integer>
			<key>name</key>
			<string>Detector1</string>
			<key>position</key>
			<string>(0,0,2)</string>
			<key>statistics</key>
			<dict>
				<key>acceptanceCosineElements</key>
				<integer>1</integer>
				<key>kAcceptsBallisticPhotons</key>
				<true/>
				<key>kEntering</key>
				<true/>
				<key>kIntensityOnly</key>
				<true/>
				<key>kLeaving</key>
				<false/>
				<key>kStokesVector</key>
				<false/>
				<key>kTimeResolved</key>
				<false/>
			</dict>
			<key>type</key>
			<string>detector</string>
			<key>width</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Nx</key>
			<integer>1</integer>
			<key>Ny</key>
			<integer>1</integer>
			<key>enabled</key>
			<false/>
			<key>height</key>
			<integer>1</integer>
			<key>name</key>
			<string>layer</string>
			<key>position</key>
			<string>(0,0,-2)</string>
			<key>properties</key>
			<dict>
				<key>optical</key>
				<dict>
					<key>index</key>
					<real>1.5</real>
					<key>opticalActivity</key>
					<integer>0</integer>
				</dict>
				<key>scattering</key>
				<dict>
					<key>g</key>
					<real>0.9</real>
					<key>mu_a</key>
					<integer>0</integer>
					<key>mu_s</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>resolution</key>
			<integer>0</integer>
			<key>statistics</key>
			<dict>
				<key>acceptanceCosineElements</key>
				<integer>1</integer>
				<key>kAcceptsBallisticPhotons</key>
				<true/>
				<key>kEntering</key>
				<false/>
				<key>kIntensity</key>
				<true/>
				<key>kLeaving</key>
				<true/>
				<key>kStokesVector</key>
				<false/>
				<key>kTimeResolved</key>
				<false/>
			</dict>
			<key>thickness</key>
			<integer>1</integer>
			<key>type</key>
			<string>layer</string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>depth</key>
			<integer>1</integer>
			<key>enabled</key>
			<true/>
			<key>filename</key>
			<string>CuvetteAndSample-tri.obj</string>
			<key>name</key>
			<string>sample</string>
			<key>position</key>
			<string>(0, 0, 0)</string>
			<key>properties</key>
			<dict>
				<key>optical</key>
				<dict>
					<key>index</key>
					<real>1.5</real>
					<key>opticalActivity</key>
					<integer>0</integer>
				</dict>
				<key>scattering</key>
				<dict>
					<key>g</key>
					<real>0.9</real>
					<key>mu_a</key>
					<real>0.2</real>
					<key>mu_s</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>resolution</key>
			<integer>0</integer>
			<key>statistics</key>
			<dict>
				<key>acceptanceCosineElements</key>
				<integer>1</integer>
				<key>kAcceptsBallisticPhotons</key>
				<true/>
				<key>kEntering</key>
				<false/>
				<key>kIntensity</key>
				<true/>
				<key>kLeaving</key>
				<true/>
				<key>kStokesVector</key>
				<false/>
				<key>kTimeResolved</key>
				<false/>
			</dict>
			<key>type</key>
			<string>generic</string>
		</dict>
	</array>
</dict>
</plist>
