<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculationParameters</key>
	<dict>
		<key>debugLevel</key>
		<integer>1</integer>
		<key>debugOutputPhotonStats</key>
		<false/>
		<key>detectionFormalism</key>
		<string>Cote</string>
		<key>dumpAllPhotonStats</key>
		<false/>
		<key>interfaceCrossingAlgorithm</key>
		<string>kNaive</string>
		<key>keepAllPhotonStats</key>
		<true/>
		<key>outputFilename</key>
		<string>out.xml</string>
		<key>outputFilenameGeometry</key>
		<string>/Users/wendykan/Documents/work/polmc/polmc/trunk/pathoutputs/geometry.bin</string>
		<key>outputFilenameGeometryFormat</key>
		<string>kBinary3DFormat</string>
		<key>outputFilenameGeometryWithIntensity</key>
		<string>/Users/wendykan/Documents/work/polmc/polmc/trunk/pathoutputs/geometryIntensity.bin</string>
		<key>outputFilenamePhotonPaths</key>
		<string>/Users/wendykan/Documents/work/polmc/polmc/trunk/pathoutputs/paths.bin</string>
		<key>outputFilenamePhotonPathsFormat</key>
		<string></string>
		<key>outputInformations</key>
		<dict>
			<key>absorbance</key>
			<true/>
			<key>polarization</key>
			<true/>
			<key>scatteringStats</key>
			<false/>
			<key>transmitance</key>
			<true/>
		</dict>
		<key>statistics</key>
		<dict>
			<key>kEnergyDistributionBinUnits</key>
			<true/>
			<key>kEnergyDistributionRawBinary</key>
			<false/>
			<key>kEnergyDistributionXYZUnits</key>
			<false/>
			<key>kFluenceDistributionBinUnits</key>
			<true/>
			<key>kFluenceDistributionRawBinary</key>
			<true/>
			<key>kFuenceDistributionXYZUnits</key>
			<true/>
			<key>kGeometryMathematicaFormat</key>
			<true/>
			<key>kGeometryMatlabFormat</key>
			<true/>
			<key>kGeometrySeparateWavefrontFormat</key>
			<true/>
			<key>kGeometryWorldWavefrontFormat</key>
			<true/>
			<key>kGeometryXMLFormat</key>
			<true/>
			<key>kObjectInterfaceAverageNumberOfScatteringEvents</key>
			<true/>
			<key>kObjectInterfaceAveragePathLength</key>
			<true/>
			<key>kObjectInterfaceAveragePolarizedPathLength</key>
			<true/>
			<key>kObjectInterfaceConstructionParameters</key>
			<true/>
			<key>kObjectInterfaceStokesVectorBetaCircular</key>
			<true/>
			<key>kObjectInterfaceStokesVectorBetaLinear</key>
			<true/>
			<key>kObjectInterfaceStokesVectorI</key>
			<true/>
			<key>kObjectInterfaceStokesVectorQ</key>
			<true/>
			<key>kObjectInterfaceStokesVectorU</key>
			<true/>
			<key>kObjectInterfaceStokesVectorV</key>
			<true/>
			<key>kObjectInterfaceTimeResolvedIntensity</key>
			<true/>
			<key>kObjectInterfaceTotalTransmittance</key>
			<true/>
			<key>kObjectPhotonScatteringStats</key>
			<true/>
			<key>kObjectTotalAbsorbance</key>
			<true/>
			<key>kScattererStatistics1D</key>
			<true/>
			<key>kScattererStatistics2D</key>
			<true/>
		</dict>
		<key>volumeStats</key>
		<dict>
			<key>Nx</key>
			<integer>10</integer>
			<key>Ny</key>
			<integer>10</integer>
			<key>Nz</key>
			<integer>10</integer>
			<key>xMax</key>
			<integer>10</integer>
			<key>xMin</key>
			<integer>-10</integer>
			<key>yMax</key>
			<integer>10</integer>
			<key>yMin</key>
			<integer>-10</integer>
			<key>zMax</key>
			<integer>10</integer>
			<key>zMin</key>
			<integer>-10</integer>
		</dict>
	</dict>
	<key>lightSources</key>
	<array>
		<dict>
			<key>beamDiameter</key>
			<integer>0</integer>
			<key>direction</key>
			<string>(0,0,1)</string>
			<key>formalism</key>
			<string>Cote</string>
			<key>insideObjectNamed</key>
			<string>world</string>
			<key>name</key>
			<string>lightSource</string>
			<key>numberOfPhotons</key>
			<integer>100000</integer>
			<key>polarization</key>
			<dict>
				<key>I</key>
				<integer>1</integer>
				<key>Q</key>
				<integer>1</integer>
				<key>U</key>
				<integer>0</integer>
				<key>V</key>
				<integer>0</integer>
				<key>eParallel</key>
				<string>(1, 0, 0)</string>
			</dict>
			<key>position</key>
			<string>(0,0,-1)</string>
			<key>type</key>
			<string>laser</string>
			<key>wavefrontCurvature</key>
			<integer>0</integer>
			<key>wavelength</key>
			<real>5.0000000000000002e-05</real>
		</dict>
	</array>
	<key>objects</key>
	<array>
		<dict>
			<key>Nx</key>
			<integer>100</integer>
			<key>Ny</key>
			<integer>100</integer>
			<key>Nz</key>
			<integer>10</integer>
			<key>depth</key>
			<real>0.023</real>
			<key>enabled</key>
			<true/>
			<key>height</key>
			<integer>1</integer>
			<key>name</key>
			<string>top</string>
			<key>position</key>
			<string>(0,0,0.05)</string>
			<key>properties</key>
			<dict>
				<key>optical</key>
				<dict>
					<key>index</key>
					<real>1.335</real>
					<key>opticalActivity</key>
					<integer>0</integer>
				</dict>
				<key>scattering</key>
				<dict>
					<key>g</key>
					<real>0.80000000000000004</real>
					<key>indexScatterer</key>
					<real>1.5900000000000001</real>
					<key>model</key>
					<string>Jaillon</string>
					<key>mu_a</key>
					<integer>0</integer>
					<key>mu_s</key>
					<integer>33</integer>
					<key>radius</key>
					<real>0.00050100000000000003</real>
					<key>wavelength</key>
					<real>5.0000000000000002e-05</real>
				</dict>
			</dict>
			<key>resolution</key>
			<integer>0</integer>
			<key>statistics</key>
			<dict>
				<key>acceptanceCosineElements</key>
				<integer>5</integer>
				<key>kAcceptsBallisticPhotons</key>
				<true/>
				<key>kEntering</key>
				<false/>
				<key>kIntensity</key>
				<false/>
				<key>kLeaving</key>
				<true/>
				<key>kStokesVector</key>
				<true/>
				<key>kTimeResolved</key>
				<false/>
			</dict>
			<key>tiltX</key>
			<integer>0</integer>
			<key>tiltY</key>
			<integer>0</integer>
			<key>tiltZ</key>
			<integer>0</integer>
			<key>type</key>
			<string>box</string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Nx</key>
			<integer>20</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>DetectorPerpendicular</string>
			<key>position</key>
			<string>(0.1,0,-0.1)</string>
			<key>statistics</key>
			<dict>
				<key>acceptanceCosineElements</key>
				<integer>10</integer>
				<key>kAcceptsBallisticPhotons</key>
				<true/>
				<key>kEntering</key>
				<true/>
				<key>kIntensityOnly</key>
				<false/>
				<key>kLeaving</key>
				<false/>
				<key>kStokesVector</key>
				<true/>
				<key>kTimeResolved</key>
				<false/>
			</dict>
			<key>type</key>
			<string>detector</string>
			<key>width</key>
			<real>0.10000000000000001</real>
		</dict>
		<dict>
			<key>Nx</key>
			<integer>20</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>DetectorParallel</string>
			<key>position</key>
			<string>(-0.1,0,-0.1)</string>
			<key>statistics</key>
			<dict>
				<key>acceptanceCosineElements</key>
				<integer>10</integer>
				<key>kAcceptsBallisticPhotons</key>
				<true/>
				<key>kEntering</key>
				<true/>
				<key>kIntensityOnly</key>
				<false/>
				<key>kLeaving</key>
				<false/>
				<key>kStokesVector</key>
				<true/>
				<key>kTimeResolved</key>
				<false/>
			</dict>
			<key>type</key>
			<string>detector</string>
			<key>width</key>
			<real>0.10000000000000001</real>
		</dict>
	</array>
</dict>
</plist>
